*{
    margin: 0px;
    font-family: 'Work Sans', sans-serif;

}
/* hero-section */
.hero-section{
    background-image: url(./images/banner/banner1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right,left;
    height: 700px;
}
.hero-info{
    text-align: right;
    padding-left: 830px;
    padding-right: 230px;
    padding-top: 216px;
    padding-bottom: 100px;

}
.hero-tittle{
    font-weight: 700;
     font-size: 65px;
     color: #151414;
     margin-bottom: 24px; 
}
.hero-description{

    font-weight: 400;
     font-size: 16px;
     margin-bottom: 30px; 


}
.primary-button{
    height: 64px;
    background: #F15B22;
    font-weight: 600;
    font-size: 20px;
    border-radius: 5px;    
    color: #FFFFFF;  
    border: 0;
    
}



/* failures section */
.my-failures{
    display: flex;
    gap: 80px;
    margin: 130px 0px;
    align-items: center;

}
.failures-img{
    width: 569px;
    margin-left: 206px;
}
.failures-info{
    margin-left: 80px;    
    margin-right: 100px;


}
.failures-tittle{
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 24px;
}
.failures-description{
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 16px;

}
.failures-checkouts{
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 8px;
}


/*  my plan section */
.myplan{
    display: flex;
    gap: 80px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 150px;

    
}
.my-plan-heading{
    font-weight: 700;
     font-size: 40px; 
     text-align: center;  
     margin-bottom: 50px;
     

}
.my-plan-info{}
.my-plan-tittle{
    font-weight: 700;
   font-size: 30px;
   margin: top 24px; ;
   margin-bottom:16px ;
}
.my-plan-subtittle{
    font-weight: 500;
    font-size: 25px;
}

 /* allways keep section  */

 .allways-keep{
    margin:135px 230px;

 }
 .allways-info{
    background-image: url("./images/watch.png") , url(./images/gradient2.png) ;
            background-blend-mode:lighten;
            background-size: cover;
            background-position: center;
            background-color: #f15d2220;
    }
 .allways-tittle{
    padding-left: 64px;
    padding-top: 59px;
    margin-bottom: 45px;
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;


 }
 .secondery-btn{
    height: 64px;
    background: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    border-radius: 5px;    
    color: #F15B22;  
    border: 0;
    margin-left:59px ;
    margin-bottom: 45px;

 
 }

 /* <!-- footer <section --> */

 .footer{
    display: flex;
    height: 577px;
    background: #151414;
    align-items: center;
    justify-content: center;
    gap: 300px;

 }
 .future{
  color: #FFFFFF;
  margin-left: 230px;
 

 }
 .f-tittle{
    font-weight: 100;
    font-size: 45px;
    padding-bottom: 16;
    line-height: 40px;
    margin-bottom: 20px;
    

 }
 .f-description{
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 20px;


 }
 .f-email{
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 24px;


 }
 .f-contact{

    font-weight: 400;
    font-size: 16px;
    margin-bottom: 30px;
   
 }


 .form{
    width: 325px;
    height: 204px;
    margin-right: 229px;
 }
.form-subscribe{
    font-weight: 600;
     font-size: 25px;
     margin-bottom: 31px;
     color: #FFFFFF;

}
.form input{
    margin-bottom: 20px;
    background: #151414;
    color: #FFFFFF;
    width: 325px;
    height: 64px;
     border: 1px solid #FFFFFF;
     border-radius: 10px;

}

.submit-btn{
    height: 64px;
    background: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    border-radius: 5px;    
    color: #F15B22;  
    border: 0;
}
